<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<aside class="col-md-4 blog-sidebar" th:fragment="sidebar">

  <main class="row">
    <div class="row">
      <div class="p-4 mb-3 bg-dark rounded">
        <h4 class="font-italic">사이드바 1 제목</h4>
        <p class="mb-0">사이드바 1 내용</p>
      </div>
      <div class="p-4">
        <h4 class="font-italic">사이드바 2 제목</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#" class="text-primary">사이드바 2 내용</a><br><small>January 15, 2024</small></li>
          <li><a href="#" class="text-primary">사이드바 2 내용</a><br><small>January 14, 2024</small></li>
        </ol>
      </div>
    </div>
  </main>
</aside>
</html>